/* Total Leads Style */
.totalLeads {
  width: 400px;
}

.totalLeadsSection {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5%;
}

.leadsData {
  display: flex;
  width: 100%;
}

.dataSection {
  display: flex;
  flex-direction: column;
  margin-right: 25%;
}

.dataSection p {
  margin-top: 4%;
}

.totalData {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.glText {
  white-space: nowrap;
  font-size: small;
}

/* Lead Conversion Rate Style */
.leadConversionRate {
  max-width: 280px;
}

.conversionRateValue {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

/* Lead Quality Style */
.leadQuality {
  width: 30%;
  height: 600px;
}

/* Method of Enquiry Style */
.methodOfEnq {
  width: 30%;
  height: 500px;
}

/* Daily Enquiries Style */
.dailyEnq {
  width: 70%;
  height: 500px;
}